@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playball&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* .Hero_section{
    background: linear-gradient(to right,#333333 ,#000000);
    color:#E0e0e0;
    text-align: left;

} */

.Button_home {
  background-color: #1f3c88;
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 8px;
  margin-top: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.Button_home:hover {
  background-color: #162d5d;
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.service_subtitle {
  font-family: "Playball", cursive;
}
